<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    
    <!-- Dynamic title of the Page -->
        <title><%= title %></title>

    <!-- External CSS -->
    <link rel="stylesheet" href="/css/home.css">
</head>


<body>
    <!-- Container div -->
    <div id="container">
       
        <!-- Main heading div -->
        <div id="main-header">
            <h1 id="title">TODO</h1>
            <!-- Tag line -->
            <h5 id="tag-line">Reminds Everything</h5>
        </div>
        <!-- Main -->
        <div id="main">
    
            <form action="/create-todo" method="POST">
                
                <!-- Description container of the form -->
                <div id="description-container">
                    <p class="section-heading">DESCRIPTION</p>
                    <input id="form-description" type="text" name="description" placeholder="What will you do today?" required>
                </div>
                
                <!-- Category and Due Date container of the form -->
                <div id="category-duedate-container">
    
                    <!-- Category container -->
                    <div id="category-container">
                        <p class="section-heading">CATEGORY</p>
                        <!-- Category Drop-down -->
                        <select name="category">
                            <option style="display:none">Choose a category</option>
                            <option value="personal">Personal</option>
                            <option value="work">Health & Lifestyle</option>
                            <option value="work">Kitchen & Grocerry</option>
                            <option value="school">School</option>
                            <option value="cleaning">Cleaning</option>
                            <option value="work">Work</option>
                            <option value="other">Other</option>
                        </select>
    
                    </div>
    
                    <!-- Due Date container -->
                    <div id="due-date-container">
                        <p class="section-heading">DUE DATE</p>
                        <input id="date-box" type="date" name="date" placeholder="" required>
                    </div>
    
                </div>
    
    
                <!--buttons-->
                <div id="buttons-container">
    
                    <!-- Add Button -->
                    <div> 
                        <button type="submit" id="add">
                            <i class="fa fa-plus" aria-hidden="true"></i> 
                            &nbsp; ADD TASK
                        </button>
                    </div>
    
                    &nbsp;
    
                    <!-- Delete Button -->
                    <div>
                        <button type="submit" id="delete-button" form="delete1">
                            <i class="far fa-trash-alt"></i>
                            &nbsp; DELETE TASKS
                        </button>
                    </div>
    
                </div>
    
            </form>
            
    
            <!-- Div containing all the tasks-->
            <div class="show">
    
                <!--delete task -->
                <form id="delete1" action="/delete-todo" method="POST" >
                
                    <%  for(let i = todo_list.length - 1; i >= 0; i--) { %>
    
                        <div id="task">
                        
                            <input type="checkbox" id="check-box" name=task value="<%= todo_list[i]._id %>">
    
                            <!-- task -->
                            <div class="task-container">
                                <span id="task-description">
                                    <%= todo_list[i].description %>
                                </span>
                                <br>
                                <span id="task-date">
                                    <i class="far fa-calendar-alt fa-lg" aria-hidden="true"></i>
                                    &nbsp;
                                    <%= todo_list[i].date %>
                                </span>
                            </div>
    
                            <div id="task-category"> 
                                <%= todo_list[i].category  %>
                            </div>
    
                            <!-- Cross Icon-->
                            <div id="remove-task">
                                <a href="/delete_todo_single/?id=<%= todo_list[i]._id %>">
                                    <i class="far fa-times-circle"></i>
                                </a>
                            </div>
                            
                        </div>
    
                    <% } %>
    
                </form>
    
            </div>
    
        </div>
    </div>
    
    <script type="text/javascript" src="/assets/js/home.js"></script>
</body>
</html>
